{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form-register') }}
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div></div>
    <div class="registration-form-page">
        <div class="registration-form">
            {{ form_start(registrationForm) }}
                <div class"registration-form-row">
                    <label for="registration_form_username">Pseudo</label>
                    {{ form_widget(registrationForm.username) }}
                </div>
                <div class"registration-form-row">
                    <label for="registration_form_plainPassword">Mot de passe</label>
                    {{ form_widget(registrationForm.plainPassword, {
                        label: 'Mot de Passe'
                    }) }}
                </div>
                <div class"registration-form-row">
                    <label for="registration_form_agreeTerms">Accepter les termes</label>
                    {{ form_widget(registrationForm.agreeTerms) }}
                </div>
                <button type="submit" class="btn">S'incrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
