{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('country-show') }}
{% endblock %}

{% block body %}

    <div></div>
    <a class="arrow-link-menu" href="#header-title">&uarr;</a>
    <div class="country-show-page">
        <div class="country-show-block">
            <div class="country-show-block-img">
                <img src="{{ asset('uploads/images/' ~ country.image) }}">
            </div>
            <div class="country-show-block-description">
                <h1>{{ country.name }}</h1>
                <p>{{ country.bigDescription }}</p>
                <p><strong>Posté par </strong>{{ country.owner.username }}<p>
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
            {% if country.owner.username == user.username %}
                <a href="{{ path('country_edit', {id: country.id}) }}">Mettre à jour la destination</a>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            <h4>Voulez-vous partager votre expérience ?</h4>
            <div class="country-show-comment-form">
                {{ form_start(form) }}
                    <div class="country-comment-form-row">
                        <label for="comment_comment">Commentaire</label>
                        {{ form_widget(form.comment) }}
                    </div>
                    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
                {{ form_end(form) }}
            </div>
        {% endif %}
        <h4>Commentaires déjà postés</h4>
        {% for comment in comments %}
            <div class="country-show-comment-block">
                <p><strong>Posté par : </strong>{{ comment.author.username }}</p>
                <p>Le {{ comment.date|format_datetime('full', locale='fr') }}</p>
                <p>{{ comment.comment }}</p>
            </div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                {% if user.username == comment.author.username or is_granted('ROLE_ADMIN') %}
                    {% include 'country/_delete_comment.html.twig' %}
                {% endif %}
            {% endif %}
        {% else %}
            Aucun commentaires enregistrés pour ce lieu
        {% endfor %}
    </div>

{% endblock %}