{% extends 'base.html.twig' %}

{% block body %}
    <div></div>
    <div class="list-user-page">
        <h2>Bonjour {{ user.username }}</h2>
        <h2>Voici vos destinations idéales</h2>
        {% for country in user.countries %}
            <img src="{{ asset('uploads/images/' ~ country.image) }}">
            <h3>{{ country.name }}</h3>
            <p>{{ country.littleDescription }}</p>
            <a href="{{ path('country_edit', {id: country.id}) }}">Mettre à jour</a>
            {% include 'country_form/_delete_form.html.twig' %}
        {% else %}
            Vous n'avez pas encore ajouté de destinations
        {% endfor %}
    </div>
{% endblock %}